Body {
  background-color: #c3cfe2;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  margin: 0;
}

.Container {
  position: relative;
  margin: 10px;
  max-width: 350px;
}

.Portfolio-image {
  overflow: hidden;
}

.Portfolio-image img {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-transition: -webkit-filter 0.3s ease-in;
  transition: -webkit-filter 0.3s ease-in;
  transition: filter 0.3s ease-in;
  transition: filter 0.3s ease-in, -webkit-filter 0.3s ease-in;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.Portfolio-button {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity .8s;
  transition: opacity .8s;
  background: blue;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Container:hover .Portfolio-button {
  opacity: 1;
}

img {
  max-width: 350px;
  height: auto;
}

.social-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 30px 30px 30px 30px 30px;
      grid-template-rows: 30px 30px 30px 30px 30px;
  top: 20%;
  z-index: 3;
  color: rgba(255, 255, 255, 0.836);
  padding: 4px;
  position: absolute;
  right: 0px;
}

.social-mediablog {
  background-color: #e17b77;
  padding-left: 25px;
  position: relative;
  right: -75%;
}

.social-mediafacebook {
  background-color: #3b5998;
  padding-left: 25px;
  position: relative;
  right: -75%;
}

.social-mediatwitter {
  background-color: #00aced;
  padding-left: 25px;
  position: relative;
  right: -75%;
}

.social-mediagithub {
  background-color: #333;
  padding-left: 25px;
  position: relative;
  right: -75%;
}

.social-medialinkedin {
  background-color: #007bb6;
  padding-left: 25px;
  position: relative;
  right: -75%;
}

.social-mediablog:hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  right: 0px;
}

.social-mediatwitter:hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  right: 0px;
}

.social-medialinkedin:hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  right: 0px;
}

.social-mediafacebook:hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  right: 0px;
}

.social-mediagithub:hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  right: 0px;
}

.social-mediafacebook > img {
  width: 20px;
  background-color: white;
  margin-right: 25px;
  margin-top: 5px;
}

.social-mediablog > img {
  width: 20px;
  margin-right: 25px;
  margin-top: 5px;
}

.social-mediatwitter > img {
  width: 20px;
  margin-right: 25px;
  margin-top: 5px;
}

.social-medialinkedin > img {
  width: 20px;
  margin-right: 25px;
  margin-top: 5px;
}

.social-mediagithub > img {
  width: 20px;
  margin-right: 25px;
  margin-top: 5px;
}

@media (min-width: 768px) {
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}
/*# sourceMappingURL=portfoliostyles.css.map */